#WITHOUT RESET AND NORMALIZE!


html, body {
  width: 100%;
  height: 100%;
}

.page--search {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 40px;
}
@media (max-width: 990px) {
  .page--search {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .page--search {
    padding: 25px;
  }
}
@media (max-width: 320px) {
  .page--search {
    padding: 10px;
  }
}

.container--search {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 940px;
  padding: 0 10px;
  height: 100%;
  margin: 0 auto;
}

.search-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 700px;
  font-family: "Open Sans Condensed", "Arial", "sans-serif";
  font-weight: 300;
  margin: 0 auto;
}

.search-form__search {
  width: 500px;
  height: 40px;
  margin-right: 10px;
}

.search-form__search-field {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-family: "PT Sans", "Arial", "sans-serif";
  font-weight: normal;
  border-radius: 5px;
  padding: 0 15px;
  color: #222;
  border: 1px solid rgba(34, 34, 34, 0.4);
  outline: none;
  transition: all .4s ease-out;
}
@media (max-width: 768px) {
  .search-form__search-field {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .search-form__search-field {
    font-size: 14px;
  }
}
.search-form__search-field:hover, .search-form__search-field:active, .search-form__search-field:focus {
  border: 1px solid rgba(34, 34, 34, 0.7);
}

.search-form__button {
  line-height: 27px;
  width: 150px;
  height: 40px;
}
@media (max-width: 990px) {
  .search-form__button {
    width: 135px;
  }
}
@media (max-width: 768px) {
  .search-form__button {
    width: 100px;
  }
}
@media (max-width: 320px) {
  .search-form__button {
    width: 70px;
  }
}

.search-form__button-send {
  width: 100%;
  height: 40px;
  color: #767676;
  border: 1px solid #F7CF87;
  border-radius: 5px;
  background-color: #e4e4e4;
  background: linear-gradient(to top, #e4e4e4 1%, #f1f1f1 50%);
  transition: all .3s ease-out;
  outline: none;
}
.search-form__button-send:hover {
  border: 1px solid rgba(255, 132, 0, 0.6);
  color: #000;
}

.page--result-search {
  width: 100%;
  min-height: 100%;
  margin-top: -40px;
}

.container--result-search {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  max-width: 960px;
  padding: 140px 10px 20px 10px;
  margin: 0 auto;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
@media (max-width: 990px) {
  .container--result-search {
    padding: 140px 20px 20px 20px;
  }
}
@media (max-width: 768px) {
  .container--result-search {
    padding: 140px 30px 20px 30px;
  }
}
@media (max-width: 480px) {
  .container--result-search {
    padding: 140px 20px 20px 20px;
  }
  .container--result-search:nth-of-type(1) {
    padding-top: 140px;
  }
}

.search-form--result-search {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  padding: 10px;
  background-color: rgba(139, 139, 139, 0.2);
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.result-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 600px;
}
.result-block + .result-block {
  margin-top: 30px;
}

.result-block__header {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 5px;
  text-align: left;
}
.result-block__header a {
  color: #222;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  transition: all .3s ease;
}
.result-block__header a:hover {
  color: #000;
  border-bottom: 1px solid #222;
}

.result-block__find {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: left;
}

.result-block__description {
  display: block;
  width: 100%;
  margin-right: auto;
}

.result-block__cite a {
  color: rgba(34, 34, 34, 0.7);
  transition: all .2s ease;
  text-decoration: none;
}
.result-block__cite a:hover {
  color: rgba(19, 81, 188, 0.9);
}

.result-block__text-block {
  font-size: 16px;
}
.result-block__text-block p {
  color: rgba(0, 0, 0, 0.9);
}

.footer--result {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0 20px;
  height: 40px;
  border-top: 1px solid rgba(42, 42, 42, 0.6);
}
.footer--result p {
  font-size: 12px;
  padding-top: 10px;
  margin-right: auto;
  text-align: left;
}

.pagination-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: block;
  width: 100%;
  max-width: 600px;
  margin-top: 80px;
}
.pagination__list {
  display: block;
  font-size: 0;
}
.pagination__item {
  display: inline-block;
  font-size: 18px;
  margin-right: 20px;
  text-align: center;
  background-color: #e4e4e4;
  background: linear-gradient(to bottom, #fcfcfc 1%, #f8f8f8 50%);
}
.pagination__link {
  display: block;
  max-width: 100%;
  height: 100%;
  padding: 5px 10px;
  color: #767676;
  border: 1px solid #F7CF87;
  transition: all .3s ease;
  border-radius: 3px;
}
.pagination__link:hover {
  border: 1px solid rgba(255, 132, 0, 0.6);
  color: #000;
}
